@import "tailwindcss";

:root {
  --bg-primary: #080808;
  --bg-secondary: #121212;
  --bg-tertiary: #1c1c1c;

  --brand-electric: #7c3aed;

  --text-main: #ffffff;
  --text-muted: #ffffffb3; /* update to white/70 */
  --text-dim: #ffffff8e; /* update to white/50 */

  --border-glass: rgba(255, 255, 255, 0.08);
}

@theme inline {
  --color-brand: var(--brand-electric);
  --color-muted: var(--text-muted);
  --color-dim: var(--text-dim);
  --color-surface: var(--bg-secondary);
  --color-surface-hover: var(--bg-tertiary);
  --color-glass: var(--border-glass);

  --font-heading: var(--font-luxury);
  --font-body: var(--font-jakarta);

  --shadow-neon: 0 0 20px rgba(124, 58, 237, 0.2);
  --shadow-glass: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  font-family: var(--font-body);
  letter-spacing: -0.01em;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-tertiary);
  border-radius: 10px;
}

.luxury-heading {
  font-family: var(--font-heading);
  font-style: italic;
  font-weight: 700;
}
